      body {
      }

      #logo-text-container {
        position: fixed;
        top:40%;
        left: 45%;
      }
      #version-text-container{
        position: fixed;
        bottom:5%;
        margin-left: 46%;        
      }
